<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <filter>
    <filter-name>FilterCharset</filter-name>
    <filter-class>ru.sample.util.Filter1</filter-class>
    <init-param>
      <param-name>codepage</param-name>
      <param-value>UTF8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterCharset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>ru.sample.util.ListenerSession</listener-class>
  </listener>
  <servlet>
    <servlet-name>Start</servlet-name>
    <servlet-class>ru.sample.forum.Start</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AuthCheck</servlet-name>
    <servlet-class>ru.sample.forum.AuthCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>ru.sample.forum.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Error</servlet-name>
    <servlet-class>ru.sample.forum.Error</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogOff</servlet-name>
    <servlet-class>ru.sample.forum.LogOff</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertMessage</servlet-name>
    <servlet-class>ru.sample.forum.InsertMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>report</servlet-name>
    <servlet-class>ru.sample.util.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthCheck</servlet-name>
    <url-pattern>/authcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/logincheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOff</servlet-name>
    <url-pattern>/logoff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertMessage</servlet-name>
    <url-pattern>/insertmessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>start</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/test_db</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
	<mapped-name>jdbc/test_db</mapped-name>
  </resource-ref>
  <env-entry>
    <env-entry-name>isTrue</env-entry-name>
    <env-entry-type>java.lang.Boolean</env-entry-type>
    <env-entry-value>true</env-entry-value>
  </env-entry>
</web-app>